@media(max-width: 900px){
    .nav{
        top: 70px;
        right: 60px;
        position: fixed;
        display: none;
    }
    nav{
        position: relative;
        display: flex;
        flex-direction: column;
        background: #0f0c29;
        border-radius: 10px;
        gap: 10px;
        padding: 10px;
        align-items: center;
        background: linear-gradient(to bottom, #8fbb47, #530f37, #4c4d21);
    }

    .menuIcon{
        display: inline;
    }
    header{
        justify-content: space-between;
        padding: 0 4%;
    }
}