*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
body{
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

header{
    position: relative;
    background: #0000003d;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.arpLogo img{
    width: 100px;
}

.nav{
    display: inline;
    position: relative;
}
.nav nav a{
    word-spacing: -8px;
    letter-spacing: 1px;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    margin: 0 20px;
    color: rgb(255, 255, 255);
}

.nav nav a:hover{
    color: rgba(255, 255, 255, 0.548);
}

.menuIcon{
    display: none;
}

.giveMarks{
    text-align: center;
    width: 80%;
    margin: 100px auto;
}
.giveMarks h1{
    color: rgb(33, 65, 94);
    font-size: 32px;   
    padding: 20px;
    background-color: #ffffff3a;
    border-radius: 10px;
}

form{
    padding-top: 50px;
    width: 100%;
}

.subject-mark{
    display: flex;
    gap: 25px;
}
.subject-mark label{
    color: #1a1818dc;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 16px;
}
.subject-mark label input{
    padding: 15px;
    background-color: #ffffff41;
    border: none;
    border-radius: 8px;
}
.subject{
    width: 100%;
}
.marks{
    width: 100%;
}

.cr-button{
    background-color: #ffffff38;
    color: #030202d7;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}
.cr-button:hover{
    background-color: #ffffff2c;
    color: rgba(0, 0, 0, 0.493);
}

.result{
    text-align: center;
    width: 80%;
    margin: 100px auto;
}

.result-sm{
    display: flex;
    gap: 25px;
}
.result-sm div{
    background-color: #ffffff4f;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}